<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel ="stylesheet" href = "style.css" >

</head>
<body>
    
    <h1>My Posts</h1>

   <% for( post of posts){ %>
        <div>
            <h2 class="user" ><%= post.username %></h2>
            <p class = "content" ><%= post.content %></p>

            <br>
            <a href="http://localhost:<%= port %>/posts/<%= post.id%>">see in detail</a>
            <br>
            <form method="POST" action = "/posts/<%= post.id %>?_method=DELETE">
                <button>Delete Post</button>

            </form>
        </div>

       
    <%}%>


    <br>
    <br>
    <a href="http://localhost:<%= port %>/posts/new">Insert Another Post</a>

</body>
</html>